.category_container {
    max-width: 26rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;

    position: relative;
}

.category_header_container {
    margin-top: 1.5rem;

    display: flex;
    justify-content: space-between;
}

.category_header_wrapper{
    display: flex;
}

.category_arrow_left_link {
    margin-left: 0;
    height: 30px;
}

.category_header_link {
    height: 30px;
}

.category_header {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.category_list {
    margin-top: 1.65375rem;
    padding: 0;

    list-style: none;
}

.category_item {
    box-sizing: border-box;

    margin-bottom: 1.8125rem;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;

    border-radius: 1rem;
    background-color: #4B4B4B;

    display: flex;
    flex-direction: column;
}

.category_item_image_container {
    box-sizing: border-box;

    height: 10.5rem;

    text-align: center;
    background-color: #FFFFFF;
    border-radius: 0.5rem;
}

.category_item_image {
    height: 100%;
}

.category_item_title {
    margin-top: 0.625rem;

    font-size: 1rem;
    line-height: 1.5rem;
}

.category_item_price {
    margin-top: 0.625rem;
    text-align: right;
    margin-bottom: 1rem;

    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.5rem;
}

.category_item_apple_link {
    text-decoration: none;
    color: #FFFFFF;
}

.category_item_apple_link:active {
    outline: none;
}