.category_container {
    max-width: 26rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 7rem;

    position: relative;
}

.category_header {
    margin-top: 1.5rem;

    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.5rem;
}

.category_list {
    margin-top: 1.5rem;
    padding: 0;

    list-style: none;
}

.category_link_size {
    width: 92vw;
    max-width: 26rem;
    height: 3rem;

    text-decoration: none;
    text-align: center;
    background-color: #E7E3E9;
    color: #524B55;

    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;

    outline: none;
    border: none;
    border-radius: 0.5rem;

    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.7);

    position: fixed;
    bottom: 2rem;
}


.category_item {
    box-sizing: border-box;

    margin-bottom: 2.25rem;
    padding-top: 0.75rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;

    border-radius: 1rem;
    background-color: #4B4B4B;

    display: flex;
    flex-direction: column;
}

.category_item_image_container {
    box-sizing: border-box;

    height: 10.45rem;

    text-align: center;
    background-color: #FFFFFF;
    border-radius: 0.5rem;

    position: relative;
}

.category_item_image {
    height: 100%;
}

.category_item_ar_image {
    position: absolute;
    top: -1rem;
    right: 0;
}

.category_item_title {
    margin-top: 1.125rem;

    font-family: Roboto, sans-serif;
    font-size: 1.125rem;
    font-weight: 700;
}


.category_additional_info_container {
    margin-top: 0.5rem;

    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1.5rem;
}

.category_item_size > span,
.category_item_color > span {
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 1.5rem;
}

.category_item_price {
    margin-top: 0.625rem;
    text-align: right;
    margin-bottom: 1rem;

    font-family: Roboto, sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.75rem;
}

.category_item_apple_link {
    text-decoration: none;
    color: #FFFFFF;
}

.category_item_apple_link:active {
    outline: none;
}
