.catalog_container {
    max-width: 26rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.catalog_header_container {
    margin-top: 1.5rem;

    display: flex;
    justify-content: space-between;
}

.catalog_header {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.5rem;
}

.catalog_list {
    margin-top: 1rem;
    padding: 0;

    list-style: none;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.catalog_item {
    flex-basis: 48%;
    height: 12.5rem;
    margin-bottom: 1rem;

    border-radius: 0.5rem;
    text-decoration: none;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    position: relative;
}

.item_link_category {
    width: 100%;
    height: 100%;

    text-decoration: none;

    display: flex;
    align-items: flex-end;
}

.item_link_category_title {
    margin-left: 1rem;
    margin-bottom: 1rem;

    font-size: 1.25rem;
    line-height: 2rem;
    color: #FFFFFF;
}

.catalog_item_video {
    flex-basis: 48%;
    height: 12.5rem;
    margin-bottom: 1rem;

    border-radius: 0.5rem;

    display: flex;
    justify-content: flex-end;

    position: relative;
}

.item_link_video {
    width: 100%;
    height: 100%;

    text-decoration: none;
    border-radius: 0.5rem;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 32.77%, rgba(0, 0, 0, 0.65) 64.54%, rgba(0, 0, 0, 0.9) 100%);

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    position: absolute;
}

.item_link_video > div {
    margin-left: 1rem;
    margin-bottom: 1rem;

    font-size: 1.25rem;
    line-height: 2rem;

    color: #FFFFFF;
}