@font-face {
    font-family: 'Inter-Medium';
    src: url("./assets/fonts/Inter-Medium.ttf");
}

html{
    font-size: 12px;
    font-weight: 500;
}

body {
    margin: 0;
    padding: 0;
    background-color: #2D2D2D;;
    font-family: "Inter-Medium", sans-serif;
    font-size: 2rem;
    line-height: 2rem;
}

.catalog_container {
    margin-top: 4rem;
    padding-left: 1.8rem;
    padding-right: 1.8rem;
}

.catalog_header {
    margin-bottom: 2rem;
    font-family: "Inter-Medium", sans-serif;
    font-weight: 700;
    color: #FFFFFF;
}

.list-group-item {
    box-sizing: border-box;
    height: 8.5rem;
    margin-top: 1.3rem;
    padding: 4rem 1.3rem;
    border-radius: 1rem;

    background-color: #4F4949;
    color: #FFFFFF;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.list-group-item > a {
    color: #FFFFFF;
    text-decoration: none;
}

