html,
body {
    margin: 0;
    padding: 0;
    overflow: auto;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body,
#root {
    font-family: Inter, sans-serif;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #2D2D2D;
    color: #FFFFFF;
}

#ARButton {
    display: none;
}

.app_main {
    box-sizing: border-box;

    width: 100%;
    margin: 0 auto;

    flex: 1 0 auto;
    position: relative;

    display: flex;
    justify-content: center;
}
